
.container {
    width: 100%;
}

.col.num {
    padding: 3px;
    text-align: center;
    margin: 2px;
    color: white;
    /* font-size: 20px; */
}

.red.num {
    background-color: rgba(255, 0, 0, 0.2);
}

.black.num {
    background-color: rgba(0, 0, 0, 0.2);
}

.pink.num {
    background-color: rgba(255, 105, 180, 0.2);
}

.blue.num {
    background-color: rgba(0, 0, 255, 0.2);
}

.green.num {
    background-color: rgb(221 0 250 / 31%);
}


.red.num.select-num {
    background-color: red;
}

.black.num.select-num {
    background-color: black;
}

.pink.num.select-num {
    background-color: hotpink;
}

.blue.num.select-num {
    background-color: blue;
}

.green.num.select-num {
    background-color: rgb(221 0 250 / 51%);
}

.select-contolr {
    width: 100%;
}

.wrap-control {
    width: 100%;
    margin: 1px;
    padding: 1px;
}

.card-ans {
    padding: 30px;
}

.html-row {
    border: 2px dashed #cccccc4a;
    padding: 3px;
    margin: 3px;
}